.information{
    display: flex;
    border-bottom: 1px solid gray ;
    margin-bottom: 5px;
    padding: 10px 5px;
}
.image{
    margin-right: 5px;

}
.details{
    padding-left: 10px;
}
.button1{
    text-align: right;
    padding-top: 70px ;
    padding-left: 350px;
}
.btn{
    background-color: rgb(62, 137, 161);
    color: white;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 30px;
   
}
.btn:hover{
    cursor: pointer;
}